
min_peers = 1
max_peers = 100
min_peers_seed = 1
max_peers_seed = 100
max_uploads = 10
max_downloads_global = 10
download_rate = 0
upload_rate = 0
directory = /data
dht = off
scgi_port = 0.0.0.0:5000

